#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 60%;          /* slightly below center (50%) */
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}

#blue, #red, #green ,#random{
    border: 5px solid;
    border-radius: 10%;
    margin: 20px;
    font-weight: 200;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#blue {
    color: blue;
}

#red {
    color: red;
}

#green {
    color: green;
}
.qoute{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
     font-weight: 200;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}
.message{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
 font-weight: 200;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

